/* Custom Scrollbar for Consumer Registration */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #93c5fd; /* Tailwind's blue-300 */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #60a5fa; /* Tailwind's blue-400 */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #f0f9ff; /* Tailwind's blue-50 */
}
